.notification {
  animation: slidein 0.3s;
  clear: both;
  cursor: pointer;
  float: right;
  margin: 5px 0px 0px 0px;
  opacity: 0.85;
  padding: 10px;
  width: max-content;
}

@keyframes slidein {
  from {
    margin-right: 25%;
  }

  to {
    margin-right: 0%;
  }
}
