<form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
  <div class="field">
    <div class="control has-icons-left has-icons-right">
      <input
        class="input"
        [type]="passwordVisible ? 'text' : 'password'"
        [ngClass]="{
            'is-danger': newPasswordControl.value !== null && newPasswordControl.value !== '' && newPasswordControl.errors,
            'is-success': !newPasswordControl.errors
            }"
        formControlName="newPassword"
        placeholder="Neues Passwort"
        required>
      <span class="icon is-small is-left">
        <i class="material-icons">security</i>
      </span>
      <span class="icon is-small is-right" (click)="passwordVisible = !passwordVisible" style="pointer-events: initial; cursor: pointer;">
        <i class="material-icons" *ngIf="!passwordVisible">visibility</i>
        <i class="material-icons" *ngIf="passwordVisible">visibility_off</i>
      </span>
      <p *ngIf="newPasswordControl.hasError('minlength')" class="help is-danger">Das Passwort muss mindestens 8 Zeichen lang sein.</p>
      <p *ngIf="newPasswordControl.hasError('maxlength')" class="help is-danger">Das Passwort darf maximal 255 Zeichen lang sein.</p>
    </div>
  </div>

  <div class="field">
    <button type="submit" class="button  is-info is-fullwidth" [disabled]="!resetForm.valid">Passwort zurücksetzen</button>
  </div>

  <div class="field" *ngIf="success">
    <div class="notification is-success">
      <button class="delete" (click)="success = ''"></button>
      <p *ngIf="success === 'PASSWORD_CHANGED'">Du hast dein Passwort erfolgreich geändert.</p>
    </div>
  </div>

  <div class="field" *ngIf="error">
    <div class="notification is-danger">
      <button class="delete" (click)="error = ''"></button>
      <p *ngIf="error === 'NOT_FOUND'">Der Link ist nicht mehr gültig. Bitte
        <a routerLink="/request-password-reset">fordere eine neue E-Mail an.</a>
      </p>
      <p *ngIf="error === 'OTHER'">Leider ist ein Fehler aufgetreten. Versuche es später erneut.</p>
    </div>
  </div>
</form>

